#root, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body{
  background: black;
}

.App{
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}

@media (max-width: 800px) {
  .App {
    flex-direction: column;
  }
}